/* app.css */
@font-face {
  font-family: 'MyCustomFont';
  src: url('assets/fonts/Formula1-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


  body {
    /* Add image */
    /* background-image: url("./assets/bg.png"); */
    background-color: #1e1e1e;
    /* Make image center */
    background-position: center;

    /* Make image fixed */
    background-attachment: fixed;

    /* Not repeat images */
    background-repeat: no-repeat;

    /* Set background size auto */
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
  width: 640px;
  height: 1024px;
  
}

/* Media query for mobile devices  */
/* @media only screen and (max-width: 767px) {
    body {
        background-image: url("./assets/bg.png");
    }
} */
 