
/* Import font1 */
@font-face {
    font-family: 'Font1';
    src: url('./assets/Fonts/Formula1-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Import font2 */
  @font-face {
    font-family: 'Font2';
    src: url('./assets/Fonts/Formula1-Wide.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

.title{
  width: 100%;
}
.titlecontainer{
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    
}


.frame .capa {
    height: 64px;
    position: relative;
    width: 88px;
}

.frame .signal {
    height: 64px;
    position: relative;
    width: 32px;
}

.frame .text-wrapper {
    color: #faf6f6;
    font-family: "Font2", serif;
    width: 400px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 950px) {
    .frame .text-wrapper {
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
  .frame .text-wrapper {
      font-size: 12px;
      width: 100%;
  }
}
/* Container styling */
.logos-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* Row layout for logos */
  .logos-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center logos horizontally */
    gap: 40px; /* Space between logos */
    width: 640px;
  }
  
  /* Styling for each logo */
  .logo {
    max-width: 110px; /* Limit the size of each logo */
    height: auto;
    transition: transform 0.3s ease; /* Smooth scaling on hover */
  }
  .logo3{
    max-width: 120px;
  }
  .logo7{
    max-width: 130px;
  }
  
  .logo:hover {
    transform: scale(1.1); /* Scale logo on hover */
  }
  .logo3:hover{
    transform: scale(1.1);
  }
  .logo7:hover{
    transform: scale(1.1);
  }
  
  /* Responsive adjustments */
  @media (max-width: 767px) {
    .logos-row {
      flex-wrap: wrap; /* Allow logos to wrap in smaller screens */
      gap: 10px;
    }
  
    .logo {
      max-width: 100px;
    }
  }
  @media (max-width: 400px) {
    .logos-row {
      flex-wrap: wrap; /* Allow logos to wrap in smaller screens */
      gap: 10px;
    }
  
    .logo {
      max-width: 80px;
    }
  }
  